#
# Shorewall -- /usr/share/shorewall/macro.VXLan
#
# This macro handles VXLan traffic. 
#
######################################################################################
#TARGET  SOURCE  DEST    PROTO   DPORT   SPORT   ORIGDEST        RATE    USER
PARAM    -       -       udp     4789
